* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
  /* display: flex; */
  width: 500px;
  height: 500px;
}

.img-zoom-lens {
  position: absolute;
  /*
   -> set the size of the lens
   -> set background image
  */
  width: 100px;
  height: 100px;
  z-index: 10;
  cursor:zoom-in;
  background-image: url('/images/dotgif.gif');
  background-position: center;
  background-size: contain;
  background: 'hsla(0, 0%, 100%, .3)';
  border: '1px solid #ccc';
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 500px;
  height: 500px;
}